.courses {
  position: relative;

  &__vertical-text {
    position: absolute;
    top: 40%;
    right: -50px;
  }

  &__head {
    @include flex-all-between;
    margin-bottom: 20px;

    @include breakpoint-1100 {
      flex-direction: column;
      align-items: start;
    }
  }

  &__title {
    margin: 0;

    @include breakpoint-1100 {
      margin-bottom: 20px;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;

    @include breakpoint-600 {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }

    &-button {
      border: 1px solid var(--pine-cone-600);
      border-radius: 30px;
      padding: 10px 18px;
      transition: background-color var(--transition), color var(--transition);

      @include breakpoint-600 {
        min-width: 100%;
      }

      &:hover {
        color: var(--white-color);
        background-color: var(--pine-cone-600);
      }

      &:active {
        background-color: var(--pine-cone-950);
      }

      &-is-active {
        color: var(--white-color);
        background-color: var(--pine-cone-600);
      }
    }
  }

  &__body {
    margin-bottom: 30px;

    @include breakpoint-500 {
      margin-bottom: 20px;
    }

    &-content {
      display: none;

      &-is-active {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);

        @include breakpoint-1200 {
          grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-800 {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  
  &__card {
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    padding: 30px;

    @include breakpoint-900 {
      padding: 22px;
    }

    &-icon path {
      stroke: var(--dark-color);
    }

    &-name {
      & br {
        @include breakpoint-1200 {
          display: none;
        }
      }
    }

    &-description {
      height: 160px;
      font-size: 1em;

      @include breakpoint-900 {
        height: 130px;
      }

      @include breakpoint-800 {
        height: 100px;
      }

      @include breakpoint-600 {
        height: 130px;
      }

      @include breakpoint-500 {
        margin-bottom: 20px;
        height: auto;
      }
    }

    &-list {
      @include flex-column;
      gap: 15px;
      margin-bottom: 35px;
      width: 100%;
    }

    &-item {
      display: flex;
      gap: 8px;
      width: 100%;
    }

    &-information {
      @include flex-all-between;
      position: relative;
      width: 100%;

      @include breakpoint-500 {
        flex-direction: column;
        align-items: start;
      }

      &-prise {
        @include breakpoint-500 {
          display: flex;
          flex-direction: initial;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    &-prise {
      margin-bottom: 30px;

      & path {
        stroke: var(--dark-color);
      }
    }

    &-sum {
      font-weight: 700;
      font-size: 1.4em;

      @include breakpoint-500 {
        font-size: 1.2em;
      }

      &-old {
        position: absolute;
        top: -20px;
        right: 0;
        font-size: 0.9em;
        text-decoration: line-through;
        opacity: 0.7;

        @include breakpoint-500 {
          top: -10px;
          font-size: 0.7em;
        }
      }
    }

    &-button {
      display: block;
      padding: 18px;
      text-align: center;
    }
  }

  &__link {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0 auto;
    max-width: 307px;

    @include breakpoint-800 {
      max-width: 260px;
    }
    
    & span {
      font-weight: 700;
      text-transform: uppercase;
      transform: translateY(4px);
    }
  }
}