<section class="learn main-section">
  <div class="learn__inner">
    <div class="learn__container container">
       <h2 class="learn__title heading-title-section">Ты научишься</h2>
       <ul class="learn__list">
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Уверенно подбирать параметры заваривания для различных альтернативных методов.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Описывать вкус эспрессо на профессиональном уровне.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Осваивать сложные техники латте-арта.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Работать с профессиональным кофейным оборудованием.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Разрабатывать и адаптировать рецепты кофейных напитков.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Применять навыки дегустации для выявления и устранения дефектов зерен.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Использовать рефрактометр для определения экстрактивности.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Обнаруживать дефекты зерен во время дегустации.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Определять и исправлять ошибки в процессе обжарки кофе.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Проводить качественный анализ спешиалити кофе.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Оценивать и улучшать качество кофе с помощью различных методов дегустации.</span>
         </li>
       </ul>
    </div>
  </div>
</section>
