<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__title heading-title-general">Контакты</h1>
    <div class="hero__content">
      <div class="hero__left">
        <div class="hero__card">
          <h3 class="hero__card-title heading-title-name">Всегда на связи!</h3>
          <ul class="hero__list">
            <li class="hero__item">
              <span class="hero__label text-medium">Телефон</span>
              <a class="hero__link text-regular" href="#">+7 (925) 152-28-66</a>
            </li>
            <li class="hero__item">
              <span class="hero__label text-medium">Whatsapp</span>
              <a class="hero__link text-regular" href="https://Wa.me/79251522866">+7 (925) 152-28-66</a>
            </li>
            <li class="hero__item">
              <span class="hero__label text-medium">E-mail</span>
              <a class="hero__link text-regular" href="#">consulting@academy-barista.ru</a>
            </li>
            <li class="hero__item">
              <span class="hero__label text-medium">Адрес</span>
              <p class="hero__description text-regular">г.Москва, Фридриха Энгельса, 25с7</p>
            </li>
            <li class="hero__item">
              <span class="hero__label text-medium">Время работы</span>
              <a class="hero__link text-regular" href="#">Пн-Вс 10:00 – 20:00</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero__maps" id="map"></div>
    </div>
  </div>
</section>