<section class="social main-section">
  <div class="social__container container">
    <div class="social__card">
      <h2 class="social__title heading-title-section">Не забудь подписаться на социальные сети !</h2>
      <div class="social__slider splide">
        <div class="social__track splide__track">
          <div class="social__content splide__list">
            <div class="social__col splide__slide">
              <img width="400" src="/assets/images/mockup/1.png" alt="">
              <div class="social__col-info">
                <h3 class="social__col-name text-medium">Ютуб канал</h3>
                <p class="social__col-description">Для тех, кто уже в индустрии — владельцев кофеен, кафе, кондитерских, бариста, управляющих, тренеров, обжарщиков и маркетологов.</p>
                <a class="social__col-link button button-white" href="https://www.youtube.com/@academybarista" target="_blank">Подписаться</a>
              </div>
            </div>
            <div class="social__col splide__slide">
              <img width="400" src="/assets/images/mockup/2.png" alt="">
              <div class="social__col-info">
                <h3 class="social__col-name text-medium">Телеграм канал</h3>
                <p class="social__col-description">Для тех, кто уже в индустрии — владельцев кофеен, кафе, кондитерских, бариста, управляющих, тренеров, обжарщиков и маркетологов.</p>
                <a class="social__col-link button button-white" href="https://t.me/academybarista" target="_blank">Подписаться</a>
              </div>
            </div>
            <div class="social__col splide__slide">
              <img width="400" src="/assets/images/mockup/3.png" alt="">
              <div class="social__col-info">
                <h3 class="social__col-name text-medium">Группа Вконтакте</h3>
                <p class="social__col-description">Для тех, кто уже в индустрии — владельцев кофеен, кафе, кондитерских, бариста, управляющих, тренеров, обжарщиков и маркетологов.</p>
                <a class="social__col-link button button-white" href="https://vk.com/academybarista1" target="_blank">Подписаться</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>