.consultation {
  &__content {
    border: 1px solid var(--pine-cone-600);
    border-radius: 10px;
    padding: 30px;
  }

  &__title {
    color: var(--pine-cone-950);
  }

  &__form { 
    &-wrapper {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-button {
      background-color: var(--pine-cone-800);
    }

    &-text {
      color: var(--white-color);

      & a {
        text-decoration: underline;
        color: var(--white-color);
      }
    }
  }
}