.footer {
  padding: 30px 0;
  background-color: var(--pine-cone-600);

  &__label {
    margin-bottom: 15px;
    color: var(--white-color);

    @include breakpoint-700 {
      margin: 0;
    }
  }

  &__row {
    @include flex-between;

    @include breakpoint-1000 {
      gap: 20px;
      flex-wrap: wrap;
    }

    @include breakpoint-700 {
      gap: 15px;
      flex-direction: column;
      padding: 0;
    }
  }

  &__column {
    @include breakpoint-700 {
      border: 1px solid var(--white-color);
      border-radius: 10px;
      cursor: pointer;
    }
  }

  &__accordion {
    @include breakpoint-700 {
      @include flex-all-between;
      padding: 15px;
      cursor: pointer;
    }
  }

  &__arrow {
    display: none;
    transition: transform var(--accordion-transtion);

    & svg {
      width: 14px;
      height: 14px;
      white-space: nowrap;
    }

    & path {
      fill: var(--white-color);
    }

    &.active {
      transform: rotate(90deg);
    }

    &.active path {
       fill: var(--white-color);
    }

    @include breakpoint-700 {
      display: block;
    }
  }

  &__list {
    @include flex-column;
    gap: 10px;

    @include breakpoint-700 {
      overflow: hidden;
      padding-top: 0;
      max-height: 0;
      transition: max-height var(--accordion-transtion), margin-bottom var(--accordion-transtion);

      &.active {
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    font-size: 1em;
    color: var(--white-color);
    opacity: 0.9;

    &:hover {
      color: var(--white-color);
      opacity: 1;
    }

    &::after {
      background-color: var(--white-color);
    }

    @include breakpoint-700 {
      padding: 15px;
    }
  }

  &__bottom {
    @include flex-all-between;
    padding: 15px 0 0;
  }

  &__copyright {
    font-size: 1em;
    color: var(--dark-color);
  }
}