.header {
  display: block;

  @include breakpoint-1300 {
    height: 74px;
  }

  &__fixed {
    @include breakpoint-1300 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      width: 100%;
      background-color: var(--white-color);
      opacity: 1;  // Начальная видимость
      transition: top var(--transition), opacity var(--transition);
    }
  
    &-hidden {
      @include breakpoint-1300 {
        top: -100%;
        opacity: 0;
        transition: top var(--transition), opacity var(--transition);
      }
    }
  }
  

  &__top {
    @include breakpoint-1300 {
      border-bottom: 1px solid;
    }

    &-container {
      @include flex-all-between;
      gap: 40px;
    }

    &-content {
      @include flex-align-center;
      gap: 50px;

      @include breakpoint-1300 {
        display: none;
      }
    }
  }

  &__information {
    @include flex-align-center;
    gap: 20px;

    &-address {
      @include flex-align-center;
      gap: 5px;

      &-icon {
        width: 20px;

        & path {
          stroke: var(--dark-color);
        }
      }

      &-text {
        font-style: normal;
      }
    }

    &-tel {
      @include flex-align-center;
      gap: 5px;

      &-icon {
        width: 20px;

        & path {
          stroke: var(--dark-color);
        }
      }

      &-number {
        font-style: normal;
        color: var(--dark-color);
      }
    }

    &-email {
      @include flex-align-center;
      gap: 5px;

      &-icon {
        width: 20px;

        & path {
          stroke: var(--dark-color);
        }
      }

      &-number {
        font-style: normal;
        color: var(--dark-color);
      }
    }
  }

  &__social {
    @include flex-align-center;
    gap: 15px;

    &-link {
      position: relative;
    }

    &-icon {
      width: 30px;
      height: 30px;

      & rect {
        fill: var(--pine-cone-600);
      }

      &--telegram {
        width: 17px;
        height: 17px;
      }
    }
  }

  &__row {
    border-top: 1px solid var(--dark-color);

    @include breakpoint-1300 {
      display: none;
    }

    &-container {
      @include flex-all-between;
    }
  }

  &__messenge {
    display: none;

    @include breakpoint-1300 {
      display: flex;
      gap: 5px;
      align-items: center;
      max-height: 33px;
    }

    &-likk {
      display: block;
      max-width: 33px;
      max-height: 33px;
    }

    &-icon {
      width: 33px;
      height: 33px;
      transform: translateY(2px);
      
      &-telegram {
        width: 31px;
        height: 31px;
        transform: translateY(3px);
      }

      &-tel {
        width: 30px;
        height: 30px;
      }

      &-whatsapp path, &-tel path {
        fill: var(--pine-cone-600);
      }

      & rect {
        fill: var(--pine-cone-600);
      }
    }
  }

  &__submenu {
    &-list {
      display: flex;
    }

    &-item {
      position: relative;
      transition: all 1s;
    }

    &-switch {
      @include flex-align-center;
      gap: 8px;
      border-bottom: 1px solid var(--earthy-brown-color);
      padding: 10px 20px;
      cursor: pointer;

      &--barista {
        border-right: 1px solid var(--earthy-brown-color);
        border-left: 1px solid var(--earthy-brown-color);
      }

      &--master {
        border-right: 1px solid var(--earthy-brown-color);
      }

      &--bar {
        border-right: 1px solid var(--earthy-brown-color);
      }

      &-icon {
        width: 12px;
      }
      
    }

    &-dropdown {
      position: absolute;
      top: 50px;
      z-index: 10;
      overflow: hidden;
      border-radius: 7px;
      box-shadow: 0 1px 8px #00000082;
      background-color: var(--white-color); 
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease, visibility 0s .3s;

      &-link {
        display: block;
        border-bottom: 1px solid var(--earthy-brown-color);
        padding: 15px 20px;
        width: auto;
        min-width: 270px;
        color: var(--dark-color);
        transition: background-color var(--transition);

        &:not(:last-child) {
          border-bottom: 1px solid var(--pine-cone-950);
        }

        &:hover {
          color: var(--white-color);
          background-color: var(--pine-cone-700);
          opacity: 1;
          visibility: visible;
        }

        &:active {
          background-color: var(--pine-cone-950);
        }
      }
    }

    &-item:hover &-dropdown {
      opacity: 1; 
      visibility: visible; 
      transition-delay: .3s;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 25px;
    }
  }
}