<section class="learn main-section">
  <div class="learn__inner">
    <div class="learn__container container">
       <h2 class="learn__title heading-title-section">Ты научишься</h2>
       <ul class="learn__list">
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Выбирать лучшее зерно для различных кофейных напитков.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Работать с профессиональным кофейным оборудованием.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Правильно взбивать молоко до нужной температуры и текстуры.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Влиять на вкус кофе, регулируя параметры приготовления.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Создавать рисунки на поверхности молочных напитков.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Разбирать и очищать кофейное оборудование для поддержания его в хорошем состоянии.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Разбирать и очищать кофейное оборудование для поддержания его в хорошем состоянии.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Применять альтернативные методы заваривания кофе.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Разрабатывать авторские рецепты кофейных напитков.</span>
         </li>
       </ul>
    </div>
  </div>
</section>