:root {
  // global color
  --cream-white-color: #c9c9c8;
  --earthy-brown-color: #6b5a53;
  --light-white: #c1c0bf;
  --dark-earthy-brown-color: #282020;
  --white-color: #fff;
  --dark-color: #1a1a1a;

  // pine color
  --pine-cone-50: #f4f3f2;
  --pine-cone-100: #e4e1dd;
  --pine-cone-200: #ccc4bc;
  --pine-cone-300: #aea196;
  --pine-cone-400: #978578;
  --pine-cone-500: #88756a;
  --pine-cone-600: #6b5a53;
  --pine-cone-700: #5e4e4a;
  --pine-cone-800: #514442;
  --pine-cone-900: #483c3b;
  --pine-cone-950: #282020;

   // transiton
  --transition: .3s ease-in-out;
}