<section class="learn main-section">
  <div class="learn__inner">
    <div class="learn__container container">
       <h2 class="learn__title heading-title-section">Ты научишься</h2>
       <ul class="learn__list">
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Основы правильного вспенивания молока для латте-арта.</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Практическая отработка техник «питчинга» и «флоу» (правильного наливания).</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Вкусный кофе</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Лайфхаки для тренировок дома</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Индивидуальные корректировки для каждого участника в зависимости от уровня</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Создание собственных уникальных рисунков под руководством тренера</span>
         </li>
       </ul>
    </div>
  </div>
</section>
