<section class="want-course main-section">
  <div class="want-course__inner">
    <div class="want-course__container container">
      <h2 class="want-course__title heading-title-section">хочу на мастер-класс!</h2>
      <div class="want-course__content">
        <div class="want-course__card">
          <div class="want-course__information">
            <h3 class="want-course__card-name heading-title-name">Латте-Арт</h3>
            <div class="want-course__card-whom">
              <span class="want-course__card-whom-text text-regular">Для кого:</span>
              <span class="want-course__card-whom-tags text-regular">Бариста</span>
            </div>
            <ul class="want-course__card-list">
              <li class="want-course__card-item">
                <h4 class="want-course__card-label text-regular">Продолжительность:</h4>
                <div class="want-course__card-bottom">
                  <div class="want-course__card-row">                    
                    <span class="want-course__card-number text-regular">4 часа</span>
                  </div>
                </div>
              </li>
              <li class="want-course__card-item">
                <h4 class="want-course__card-label text-regular">Стоимость:</h4>
                <div class="want-course__card-bottom">
                  <div class="want-course__card-row">                     
                    <span class="want-course__card-number text-regular">12 000 ₽</span>
                  </div>
                </div>
              </li>
              <li class="want-course__card-item">
                <h4 class="want-course__card-label text-regular">Расписание:</h4>
                <div class="want-course__card-bottom">
                  <div class="want-course__card-row">                     
                    <span class="want-course__card-number text-regular">Индивидуально в <br> удобное для тебя время</span>
                  </div>
                </div>
              </li>
            </ul>
            <a class="want-course__card-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20 12v9.4a.6.6 0 0 1-.6.6H4.6a.6.6 0 0 1-.6-.6V12m17.4-5H2.6a.6.6 0 0 0-.6.6v3.8a.6.6 0 0 0 .6.6h18.8a.6.6 0 0 0 .6-.6V7.6a.6.6 0 0 0-.6-.6ZM12 22V7m0 0H7.5a2.5 2.5 0 1 1 0-5C11 2 12 7 12 7Zm0 0h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7Z"/>
              </svg>
              <span class="text-regular">Купить в подарок</span>
            </a>
          </div>
        </div>
        <div class="want-course__left">
          <h5 class="want-course__title heading-title-name">Отправь заявку на мастер-класс, <br> а мы расскажем детали!</h5>
          <form class="want-course__form form" action="">
            <label class="want-course__form-label form__label" for="">
              <input class="want-course__form-input form__input" name="Имя" type="text" placeholder="Ваше имя" required>
            </label>
            <label class="want-course__form-label form__label" for="">
              <input class="want-course__form-input form__input" name="Телефон" type="tel" placeholder="Телефон" required>
            </label>
            <label class="want-course__form-label form__label" for="">
              <input class="want-course__form-input form__input" name="Email" type="email" placeholder="Email" required>
            </label>
            <textarea class="want-course__form-textarea form__textarea" placeholder="Ваше сообщение" name="Сообщение" id=""></textarea>
            <button class="want-course__form-button form__button button button-brown" type="submit">
              Оставить заявку
              <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>  
            </button>
            <div class="want-course__form-chek form__chek">
              <input class="want-course__form-checkbox form__chek-chekbox" type="checkbox" required>
              <span class="want-course__form-text form__chek-text text-regular">Согласен на обработку <a href="#">персональных данных</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>