<section class="gallery main-section">
  <div class="gallery__inner">
    <div class="gallery__container container">
      <div class="gallery__head">
        <h2 class="gallery__title heading-title-section">Галерея</h2>
        <nav class="gallery__nav">
          <button class="gallery__nav-arrow gallery__nav-arrow-prev" type="button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.57 5.92999L3.5 12L9.57 18.07" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20.5 12H3.67004" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </button>
          <button class="gallery__nav-arrow gallery__nav-arrow-next" type="button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.4301 5.92999L20.5001 12L14.4301 18.07" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3.5 12H20.33" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </button>
        </nav>
      </div>
      <div class="gallery__slider splide">
        <div class="gallery__slider-track splide__track">
          <ul class="gallery__slider-list splide__list">
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
            <li class="gallery__slider-slide splide__slide">
              <a class="gallery__slider-link" href="/assets/images/gallery/1.webp" data-fslightbox="gallery-1">
                <img src="/assets/images/gallery/1.webp" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>