<div class="modal">
  <div class="modal__overlay">
    <div class="modal__inner">
      <div class="modal__window">
        <div class="modal__title heading-title-section">Оставьте заявку</div>
        <button class="modal__close">
          <svg role="presentation" class="t-popup__close-icon" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="#fff" fill-rule="evenodd"><rect transform="translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect><rect transform="translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect></g></svg>
        </button>
        <form class="modal__form form" action="">
          <label class="modal__form-label form__label" for="">
            <input class="modal__form-input form__input form-name" name="Имя" type="text" placeholder="Ваше имя">
          </label>
          <label class="modal__form-label form__label" for="">
            <input class="modal__form-input form__input form-phone" name="Телефон" type="tel" placeholder="Телефон">
          </label>
          <label class="modal__form-label form__label" for="">
            <input class="modal__form-input form__input form-email" name="Email" type="email" placeholder="Email">
          </label>
          <textarea class="modal__form-textarea form__textarea" placeholder="Ваше сообщение" name="Сообщение"></textarea>
          <button class="modal__form-button form__button button button-brown" type="submit">
            Оставить заявку
            <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </button>
          <div class="contact__form-chek form__chek">
            <div>
              <input class="contact__form-checkbox form__chek-chekbox" type="checkbox" required>
              <span class="contact__form-text form__chek-text text-regular">Согласен на обработку <a href="https://academy-barista.ru/coming-soon.html">персональных данных</a></span>
            </div>
          </div>
          <input type="hidden" class="form-purpose" value="Тип заявки: Главная страница">
        </form>
      </div>
    </div>
  </div>
</div>