.want-course {
  background-color: #f6f6f6;

  &__title {
    color: var(--dark-color);
  }

  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @include breakpoint-700 {
      flex-direction: column;
    }
  }

  &__card {
    border-radius: 10px;
    padding: 30px;
    max-height: 377px;
    background-color: var(--pine-cone-600);

    @include breakpoint-1400 {
      max-height: inherit;
    }

    &-name {
      margin-bottom: 40px;
      color: var(--white-color);

      @include breakpoint-700 {
        margin-bottom: 25px;
      }
    }

    &-whom {
      @include flex-align-center;
      gap: 20px;
      margin-bottom: 40px;

      @include breakpoint-700 {
        margin-bottom: 25px;
      }
      
      &-text {
        color: var(--white-color); 
      }

      &-tags {
        border-radius: 30px;
        padding: 8px 15px;
        color: var(--dark-color);
        background-color: var(--white-color);
      }
    }

    &-list {
      display: flex;
      gap: 80px;
      margin-bottom: 40px;
      
      @include breakpoint-1400 {
        gap: 40px;
        flex-wrap: wrap;
      }

      @include breakpoint-700 {
        margin-bottom: 25px;
      }
    }

    &-label {
      margin-bottom: 8px;
      color: var(--white-color);
      opacity: 0.8;
    }

    &-bottom {
      @include flex-column;
      gap: 8px;
    }
    
    &-row {
      @include flex-align-center;
      gap: 8px;
    }

    &-number {
      color: var(--white-color);
    }

    &-link {
      @include flex-align-center;
      gap: 8px;

      & span {
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
        color: var(--white-color);
        transform: translateY(2px);

        @include breakpoint-700 {
          transform: translateY(0);
        }
      }

      & svg {
        width: 30px;
        height: 30px;

        @include breakpoint-700 {
          width: 23px;
          height: 23px;
        }

        & path {
          stroke: var(--white-color);
        }
      }
    }
  }

  &__left {
    width: 100%;
    max-width: 600px;

    @include breakpoint-1100 {
      max-width: 450px;
    }

    @include breakpoint-700 {
      max-width: 100%;
    }
  }

  &__form {
    @include flex-column;
    gap: 15px;

    &-input {
      background-color: var(--white-color);
    }

    &-textarea {
      height: 150px;
    }

    &-button {
      padding: 20px;
    }
  }
}