.learn {
  display: block;

  &__list {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-1200 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-800 {
      gap: 25px;
    }

    @include breakpoint-700 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    gap: 10px;
    align-items: start;

    & svg {
      min-width: 25px;
      min-height: 25px;
      max-width: 25px;
      max-height: 25px;

      @include breakpoint-700 {
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
      }

      & circle {
        fill: var(--pine-cone-600);
      }
    }
  }
  
  &__info {
    @include flex-column;
    gap: 8px;

    &-label {
      font-weight: 700;
    }
  }
}