.button {
  @include flex-align-center;
  gap: 10px;
  border-radius: 6px;
  padding: 13px 23px;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: lowercase;
  cursor: pointer;

  &-icon {
    width: 10px;
    height: 10px;

    &-path {
      stroke: var(--white-color);
      transition: stroke var(--transition);
    }
  }

  &-transparent {
    border: 2px solid var(--pine-cone-600);
    color: var(--pine-cone-600);
    transition: background-color var(--transition);

    &:hover {
      color: var(--white-color);
      background-color: var(--pine-cone-700);
    }

    &:active {
      border: 2px solid var(--pine-cone-950);
      background-color: var(--pine-cone-950);
    }
  }
  
  &-brown {
    color: var(--white-color);
    background-color: var(--pine-cone-600);
    transition: background-color var(--transition);

    &:hover {
      background-color: var(--pine-cone-700);
    }

    &:active {
      background-color: var(--pine-cone-950);
    }
  }

  &-white {
    color: var(--dark-color);
    background-color: var(--white-color);
    transition: background-color var(--transition);

    &:hover {
      background-color: var(--pine-cone-100);
    }

    &:active {
      background-color: var(--pine-cone-200);
    }
  }
}