.form {
  width: 100%;

  &__label {
    width: 100%;
  }

  &__input {
    border: 1px solid var(--pine-cone-950);
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    font-size: 1.1em;
    background-color: transparent;

    @include breakpoint-1000 {
      padding: 17px;
      font-size: 1em;
    }
  }

  &__textarea {
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    font-size: 1.1em;
    background-color: var(--white-color);
    resize: none;

    &:focus {
      outline: none;
    }
  }

  &__button {
    @include flex-all-center;
    width: 100%;
  }

  &__chek {
    @include flex-align-center;
    gap: 8px;

    &-chekbox {
      border-radius: 6px;
      width: 20px;
      height: 20px;

      @include breakpoint-1000 {
        width: 17px;
        height: 17px;
      }
    }
  }
}