<section class="learn main-section">
  <div class="learn__inner">
    <div class="learn__container container">
       <h2 class="learn__title heading-title-section">Что Вас ждёт на нашем мастер-классе бариста</h2>
       <ul class="learn__list">
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Развитие концентрации и внимания:</h3>
            <p class="learn__info-description text-regular">Ребенок научится фокусироваться на задачах, что положительно скажется на учебе и других повседневных занятиях.</p>
          </div>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Понимание принципов работы бытовых электроприборов:</h3>
            <p class="learn__info-description text-regular">Под руководством наставников дети освоят безопасное обращение с техникой, узнают, как работают кофемашины и другие устройства.</p>
          </div>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Развитие мелкой моторики, памяти и логики:</h3>
            <p class="learn__info-description text-regular">Приготовление кофе требует аккуратности и точности, что помогает тренировать руки и ум.</p>
          </div>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Навыки работы в команде:</h3>
            <p class="learn__info-description text-regular">Групповые задания учат взаимодействию и поддержке, что важно для успешной работы в коллективе.</p>
          </div>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Развитие вкусовых и обонятельных рецепторов:</h3>
            <p class="learn__info-description text-regular">Участники научатся различать ароматы и вкусы кофе, что способствует обострению восприятия</p>
          </div>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Веселое времяпрепровождение:</h3>
            <p class="learn__info-description text-regular">Все занятия проходят в игровой и позитивной атмосфере, что делает обучение увлекательным и запоминающимся!</p>
          </div>
         </li>
       </ul>
    </div>
  </div>
</section>
