<section class="advantages main-section">
  <div class="advantages__inner">
    <h4 class="advantages__vertical-text heading-title-vertical">Почему мы ?</h4>
    <div class="advantages__container container">
      <div class="advantages__content">
        <div class="advantages__information">
          <h2 class="advantages__information-title heading-title-section">Почему мы ?</h2>
          <p class="advantages__information-description text-medium">«Академия Бариста» вот уже более 3 лет ведет деятельность в кофейном бизнесе — одном из самых современных и прибыльных направлений.</p>
          <button class="advantages__information-button button button-brown open-modal">
            Оставить заявку
            <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
          </button>
        </div>
        <div class="advantages__right">
          <ul class="advantages__grid">
            <li class="advantages__grid-item">
              <div class="advantages__grid-number">160+</div>
              <h3 class="advantages__grid-description text-medium">Организовали более <br> 160 мастер классов</h3>
            </li>
            <li class="advantages__grid-item">
              <div class="advantages__grid-number">100+</div>
              <h3 class="advantages__grid-description text-medium">Провели 100 <br> профессиональных курсов</h3>
            </li>
            <li class="advantages__grid-item">
              <div class="advantages__grid-number">50+</div>
              <h3 class="advantages__grid-description text-medium">Помогли открыть <br> более 50 кофеен</h3>
            </li>
            <li class="advantages__grid-item">
              <div class="advantages__grid-number">3+</div>
              <h3 class="advantages__grid-description text-medium">Работаем 3 года <br> в кофейном бизнесе</h3>
            </li>
          </ul>
          <p class="advantages__description text-regular">Мы – надежная и профессиональная компания в образовательной сфере для сегмента ХоРеКа. Нам доверяют десятки людей, которые уже прошли обучение по нашим программам и получили знания бариста, применимые в реальной работе. Мы подходим к делу с ответственностью и всегда нацелены на результат. Выбирая нас, вы можете быть уверены, что получите качественное обучение и поддержку на каждом этапе.</p>
        </div>
      </div>
    </div>
  </div>
</section>