<section class="hero">
  <div class="hero__inner">
    <div class="hero__container container">
      <div class="hero__card">
        <div class="hero__card-shapes">
          <!-- <img width="80" height="80" src="./assets/images/decor/shapes.svg" alt=""> -->
        </div>
        <div class="hero__card-inforamation">
          <h1 class="hero__card-title heading-title-general"><span>Академия Бариста</span> - <br> станьте профессионалом с нуля</h1>
          <p class="hero__card-description text-medium">Курсы для бариста и тех, кто хочет открыть собственную кофейню, а также для любителей кофе, желающих углубить свои знания.</p>
          <div class="hero__card-row">
            <ul class="hero__card-list">
              <li class="hero__card-item">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 4.64915L16.9136 12.5845L17.3509 22L9.41545 16.9136L0 17.3509L5.08639 9.41545L4.64915 0L12.5845 5.08639L22 4.64915Z" fill="#C1CE56"></path>
                </svg>
                <span class="text-medium">Учим</span>
              </li>
              <li class="hero__card-item">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 4.64915L16.9136 12.5845L17.3509 22L9.41545 16.9136L0 17.3509L5.08639 9.41545L4.64915 0L12.5845 5.08639L22 4.64915Z" fill="#C1CE56"></path>
                </svg>
                <span class="text-medium">Объединяем</span>
              </li>
              <li class="hero__card-item">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 4.64915L16.9136 12.5845L17.3509 22L9.41545 16.9136L0 17.3509L5.08639 9.41545L4.64915 0L12.5845 5.08639L22 4.64915Z" fill="#C1CE56"></path>
                </svg>
                <span class="text-medium">Открываем</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="hero__body">
        <div>
          <ul class="hero__list">
            <li class="hero__list-item">
              <a class="hero__list-link" href="#">
                <div class="hero__list-left">
                  <h3 class="hero__list-name text-medium">Курсы для Бариста</h3>
                </div>
                <h4 class="hero__list-date text-medium"> Начало занятий ежедневно</h4>
                <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
              </a>
            </li>
            <li class="hero__list-item">
              <a class="hero__list-link" href="#">
                <div class="hero__list-left">
                  <h3 class="hero__list-name text-medium">Мастер Классы</h3>
                </div>
                <h4 class="hero__list-date text-medium"> Начало занятий ежедневно</h4>
                <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
              </a>
            </li>
            <li class="hero__list-item">
              <a class="hero__list-link" href="#">
                <div class="hero__list-left">
                  <h3 class="hero__list-name text-medium">Барное Дело</h3>
                </div>
                <h4 class="hero__list-date text-medium"> Начало занятий ежедневно</h4>
                <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
              </a>
            </li>
          </ul>
          <button class="hero__button button button-brown open-modal" type="button">
            Оставить заявку
            <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                  
          </button>
        </div>
        <div class="hero__image">
          <img width="650" src="./assets/images/1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>