<section class="team main-section">
  <div class="team__inner">
    <h4 class="team__vertical-text heading-title-vertical"> наша Команда</h4>
    <div class="team__container container">
      <div class="team__content">
        <div class="team__left">
          <div class="team__information">
            <h2 class="team__title heading-title-section">НАША КОМАНДА</h2>
            <p class="team__description text-medium">Наша команда — это люди, вдохновленные любовью к кофе и стремлением развивать кофейную культуру. Мы постоянно учимся и делимся опытом, обеспечивая обучение на современном оборудовании с использованием передовых технологий.</p>     
          </div>
          <div class="team__card team__card-is-active" data-tab="1">
            <div class="team__card-coaches">
              <div class="team__card-image">
                 <img width="100" height="100" src="/assets/images/team/varvara-small.jpg" alt="">
              </div>
              <div class="team__card-information">
                <h3 class="team__card-name text-medium">ТАТАРЕНКО ВАРВАРА</h3>
                <h4 class="team__card-proffesion text-regular">Управляющий кофейни ,тренер</h4>
              </div>
            </div>
            <div class="team__card-arrow">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4301 5.92999L20.5001 12L14.4301 18.07" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 12H20.33" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                                
            </div>
          </div>
          <div class="team__card" data-tab="2">
            <div class="team__card-coaches">
              <div class="team__card-image">
                 <img width="100" height="100" src="/assets/images/team/denis-small.jpg" alt="">
              </div>
              <div class="team__card-information">
                <h3 class="team__card-name text-medium">ПОЛОМАРЧУК ДЕНИС</h3>
                <h4 class="team__card-proffesion text-regular">Шеф бариста, тренер</h4>
              </div>
            </div>
            <div class="team__card-arrow">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4301 5.92999L20.5001 12L14.4301 18.07" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 12H20.33" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                                
            </div>
          </div>
          <div class="team__card" data-tab="3">
            <div class="team__card-coaches">
              <div class="team__card-image">
                 <img width="100" height="100" src="/assets/images/team/artem-small.jpg" alt="">
              </div>
              <div class="team__card-information">
                <h3 class="team__card-name text-medium">ТАРЛЫКОВ АРТЕМ</h3>
                <h4 class="team__card-proffesion text-regular">Шеф бармен, тренер</h4>
              </div>
            </div>
            <div class="team__card-arrow">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.4301 5.92999L20.5001 12L14.4301 18.07" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 12H20.33" stroke="#DFDFEC" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                                
            </div>
          </div>
        </div>
        <div class="team__tab">
          <div class="team__tab-content team__tab-content-is-active" data-tab="1">
            <a class="team__tab-image" data-fslightbox="gallery2" href="/assets/images/team/varvara.jpg">
              <img width="530" src="/assets/images/team/varvara.jpg" alt="">
            </a>
            <div class="team__tab-row">
              <div class="team__tab-information">
                <h3 class="team__tab-name text-medium">ТАТАРЕНКО ВАРВАРА</h3>
                <h4 class="team__tab-proffesion text-regular">Управляющий кофейни ,тренер</h4>
              </div>
              <button class="team__tab-button button button-brown open-modal">
                записаться на обучение
                <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
              </button>
            </div>
          </div>
          <div class="team__tab-content" data-tab="2">
            <a class="team__tab-image" data-fslightbox="gallery1" href="/assets/images/team/denis.jpg">
              <img width="530" src="/assets/images/team/denis.jpg" alt="">
            </a>
            <div class="team__tab-row">
              <div class="team__tab-information">
                <h3 class="team__tab-name text-medium">ПОЛОМАРЧУК ДЕНИС</h3>
                <h4 class="team__tab-proffesion text-regular">шеф бариста, тренер</h4>
              </div>
              <button class="team__tab-button button button-brown open-modal">
                записаться на обучение
                <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
              </button>
            </div>
          </div>
          <div class="team__tab-content" data-tab="3">
            <a class="team__tab-image" data-fslightbox="gallery1" href="/assets/images/team/artem.jpg">
              <img width="530" src="/assets/images/team/artem.jpg" alt="">
            </a>
            <div class="team__tab-row">
              <div class="team__tab-information">
                <h3 class="team__tab-name text-medium">ТАРЛЫКОВ АРТЕМ</h3>
                <h4 class="team__tab-proffesion text-regular">Шеф бармен, тренер бариста</h4>
              </div>
              <button class="team__tab-button button button-brown open-modal">
                записаться на обучение
                <svg class="button-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="button-icon-path" d="M1.5 12.5L12.5 1.5M12.5 1.5H3.5M12.5 1.5V10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 