<section class="course-composition main-section">
  <div class="course-composition__inner">
    <div class="course-composition__container container">
      <h2 class="course-composition__title heading-title-section">План обучения</h2>
      <div class="course-composition__content">
        <div class="course-composition__card course-composition__card-theory">
          <div class="course-composition__card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
              <rect width="24" height="24" fill="white"/>
              <path d="M12 6.90909C10.8999 5.50893 9.20406 4.10877 5.00119 4.00602C4.72513 3.99928 4.5 4.22351 4.5 4.49965C4.5 6.54813 4.5 14.3034 4.5 16.597C4.5 16.8731 4.72515 17.09 5.00114 17.099C9.20405 17.2364 10.8999 19.0998 12 20.5M12 6.90909C13.1001 5.50893 14.7959 4.10877 18.9988 4.00602C19.2749 3.99928 19.5 4.21847 19.5 4.49461C19.5 6.78447 19.5 14.3064 19.5 16.5963C19.5 16.8724 19.2749 17.09 18.9989 17.099C14.796 17.2364 13.1001 19.0998 12 20.5M12 6.90909L12 20.5" stroke="#000000" stroke-linejoin="round"/>
              <path d="M19.2353 6H21.5C21.7761 6 22 6.22386 22 6.5V19.539C22 19.9436 21.5233 20.2124 21.1535 20.0481C20.3584 19.6948 19.0315 19.2632 17.2941 19.2632C14.3529 19.2632 12 21 12 21C12 21 9.64706 19.2632 6.70588 19.2632C4.96845 19.2632 3.64156 19.6948 2.84647 20.0481C2.47668 20.2124 2 19.9436 2 19.539V6.5C2 6.22386 2.22386 6 2.5 6H4.76471" stroke="#000000" stroke-linejoin="round"/>
            </svg>
          </div>
          <h3 class="course-composition__card-title course-composition__card-title-theory heading-title-name">В программу входит</h3>
          <ul class="course-composition__card-list">
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Знакомство с видами горячительных напитков;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Практика работы с барным инвентарем: мадлер, джигер, стрейнер;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Разбор ключевых ингредиентов и брендов;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Техники шейка и их влияние на вкус и текстуру коктейля;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Искусство красивой подачи: выбор бокалов, украшения и порядок вливания;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Приготовление и дегустация пяти популярных коктейлей
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Общение и обмен опытом с барменом;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Теплая и креативная атмосфера;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Возможность задать вопросы и получить рекомендации.
            </li>
          </ul>
        </div>
        <div class="course-composition__card course-composition__card-practice">
          <div class="course-composition__card-icon course-composition__card-icon-practice">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 384 384">
              <path fill="currentColor" d="M171 213L0 43V0h384v43L213 213v128h107v43H64v-43h107V213zM96 85h192l43-42H53z"/>
            </svg>
          </div>
          <h3 class="course-composition__card-title course-composition__card-title-practice heading-title-name">Результаты</h3>
          <ul class="course-composition__card-list course-composition__card-list-practice">
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Освоите технику “шейк” и научитесь работать с барным инвентарем;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Узнаете рецепты и особенности приготовления пяти популярных коктейлей;
            </li>
            <li class="course-composition__card-item text-regular">
              <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
              </svg>
              Научитесь красиво подавать и украшать коктейли, а также подбирать посуду.
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>