<section class="learn main-section">
  <div class="learn__inner">
    <div class="learn__container container">
       <h2 class="learn__title heading-title-section">Ты научишься</h2>
       <ul class="learn__list">
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Подбирать необходимый помол для заваривания</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Заваривать кофе в турке, гейзерной кофеварке и френч-прессе</span>
         </li>
         <li class="learn__item">
          <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
            <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
          </svg>
          <span class="text-regular">Выбирать качественный кофе для дома</span>
         </li>
       </ul>
    </div>
  </div>
</section>
