<section class="learn main-section">
  <div class="learn__inner">
    <div class="learn__container container">
       <h2 class="learn__title heading-title-section">Что Вас ждёт на нашем мастер-классе бариста</h2>
       <ul class="learn__list">
        <li class="learn__item">
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Основы работы в формате take away</h3>
            <ul class="learn__info-list">
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Знакомство с концепцией take away: уникальные <br> аспекты и преимущества</span>
              </li>
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular"> Оборудование и инструменты, необходимые для работы.</span>
              </li>
            </ul>
          </div>
         </li>
         <li class="learn__item">
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Учет и управление запасами</h3>
            <ul class="learn__info-list">
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Основы учета ингредиентов и кофе на смене;</span>
              </li>
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Методы оптимизации процессов для повышения эффективности.</span>
              </li>
            </ul>
          </div>
         </li>
         <li class="learn__item">
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Технология приготовления кофе</h3>
            <ul class="learn__info-list">
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Изучение методов заваривания для take away</span>
              </li>
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Практика приготовления популярных кофейных напитков навынос.</span>
              </li>
            </ul>
          </div>
         </li>
         <li class="learn__item">
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Создание индивидуального меню</h3>
            <ul class="learn__info-list">
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Разработка уникальных авторских напитков, соответствующих концепции take away</span>
              </li>
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Практика создания заготовок для ускорения обслуживания.</span>
              </li>
            </ul>
          </div>
         </li>
         <li class="learn__item">
          <div class="learn__info">
            <h3 class="learn__info-label text-medium">Обслуживание клиентов</h3>
            <ul class="learn__info-list">
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Эффективные техники общения с клиентами и создание приятной атмосферы</span>
              </li>
              <li class="learn__info-item">
                <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="20" r="15" fill="#C1CE56"></circle>
                  <path d="M8 20L13 25L22 16" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                <span class="text-regular">Работа с обратной связью и управление ожиданиями.</span>
              </li>
            </ul>
          </div>
         </li>
       </ul>
    </div>
  </div>
</section>
